<section class="payment-area">
    <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="headline">
              <h2>Order completed successfully</h2>
            </div>
            <div class="payment">
             <div class="bank">
              <br>
              <div class="b_text">
                  <p>
                    You can check all your orders in the Orders section of your profile
                    <br>Thank you!
                 </p>
              </div>
             </div>
           </div>
         </div>
        </div>
    </div>
</section>